<!-- <h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content>Do you add a new row?</mat-dialog-content>
<mat-dialog-actions>
<button mat-flat-button color="primary" >Yes</button>
<button mat-flat-button style="background: brown; color: white;" mat-dialog-close>No</button>
</mat-dialog-actions> -->

<!-- file-dialog.component.html -->
<!-- <div cdkDrag class="dialog-container">
    <h2 mat-dialog-title cdkDragHandle class="dialog-title">Confirmation</h2>
    <mat-dialog-content>Do you want to add a new row?</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button color="primary">Yes</button>
      <button mat-flat-button style="background: brown; color: white;" mat-dialog-close>No</button>
    </mat-dialog-actions>
  </div> -->
  <!-- file-dialog.component.html -->
  
  <!-- <h2 mat-dialog-title cdkDragHandle>Confirmation</h2>
  <mat-dialog-content cdkDrag>Do you want to add a new row?</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button color="primary">Yes</button>
    <button mat-flat-button style="background: brown; color: white;" mat-dialog-close>No</button>
  </mat-dialog-actions> -->